<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FootBallTest.Properties.Settings.FootBallDB" connectionString="GitHub\Football-Insights-Premier-League\FootballApp\FootballApp\FootBall_Data.mdf" />
    </connectionStrings>
</configuration>